@media screen and (max-width: 600px){
    .ly {
        max-width: 75%;
    }
}

@media screen and (min-width: 601px){
    .ly {
        max-width: 70%;
    }
    
}

.numberth {
    margin-block-start: 0.5em;
}

.lytitlech {
    font-size: 1.4em;
}

.lytitleen {
    font-size: 1.1em;
}

.ly {
    /* position: fixed; */
    margin:auto;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    top:50%;
    width: 800px;
    height: 300px;
    overflow-y: scroll;
    /* right: 50%;
    top: 50%; 
    margin-right:-450px;
    margin-top:-150px; */
    background-color: rgba(255, 255, 255, 0.85);
    border: 4px solid rgb(242, 242, 242);
    border-radius: 1em;
    display: none;
    font-weight: bold;
}

.openly {
    background-color: white;
    border: none;
    color: #000000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /* margin: 2px 1px; */
    margin-block-start: 0.5em;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 1.5em;
}

.openly:hover {
    background-color: #000000;
    color: white;
    }

.inlybutton {
    position: sticky;
    top:0;
    opacity: 0.8;
    padding: 6px 12px;
    border-radius: 1em;
    margin-block-start: 0em;
}
