/* 動畫關鍵影格 */
@keyframes move {
    7% {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(-33.38%);
    }
    45% {
        transform: translateX(-33.38%);
    }
    60% {
        transform: translateX(-66.67%);
    }
    80% {
        transform: translateX(-66.67%);
    }
}

.pictures-wrap > ul,
.pictures-wrap > ul > li {
    margin: 0px;
    padding: 0px;
}

.pictures-wrap {
    width: 1100px;
    max-width: 95%;
    /* margin: 0 auto; */
    /* border: 5px solid pink; */
    overflow: hidden;
}

.pictures-wrap > ul {
    /*animation tag will on the top of anything*/
    position: relative;
    z-index: -1;
    /*so need to set the z to -1*/
    width: 300%;
    display: flex;
    animation: move 20s infinite;
}

.pictures-wrap > ul > li {
    width: 1100px;
    max-width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pictures-wrap > ul > li > div {
    padding: 6%;
}

.pictures-wrap img {
    max-width: 100%;
}

/*z-index = -1 the scale will no working*/
/* .pictures-wrap img:hover {
    transform: scale(1.2);
    transition: transform 0.8;
} */
